<footer class="footer">
  <a class="footer_item" href="https://www.karsidonline.com/portfolio/">portfolio</a>
  <a class="footer_item" href="https://www.karsidonline.com">karsid</a>
  <a class="footer_item" href="/feed.xml">rss</a>
  
  <ul class="contact">
            <li><a href="https://github.com/{{ site.link.github }}"><i class="fa fa-2x fa-github"></i> </a> </li>
            <li><a href="https://twitter.com/{{ site.link.twitter }}"><i class="fa fa-2x fa-twitter"></i> </a> </li>
            <li><a href="mailto:{{ site.link.email }}"><i class="fa fa-envelope fa-2x"></i></a></li>
   </ul>
  <span class="footer_item">&copy; {{ site.time | date: "%Y" }}</span>
</footer>

<script src="/assets/js/main.js" defer="defer"></script>
<script src="/assets/js/galite.js"></script>

<script>
  var galite = galite || {};
  galite.UA = "{{ site.google_analytics }}";
</script>
